<ion-header>
  <ion-navbar>
    <ion-title [ngClass]="{'dark':dark == true}">
      Restaurant List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'dark':dark == true}">
  <ion-item>
  <!-- <ion-item [ngClass]="{'dark':dark == true}"> -->
    <ion-label>Dark Mode</ion-label>
    <ion-toggle [(ngModel)]="dark"></ion-toggle>
  </ion-item>
  <ion-searchbar (ionInput)="getRestaurants($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants">
    <!-- <ion-item *ngFor="let restaurant of restaurants" [ngClass]="{'dark':dark == true}"> -->
      <!-- for loop repeats over and over until no items are left -->
      <!-- Like saying output of array name -->
      {{ restaurant }}
    </ion-item>
  </ion-list>
</ion-content>
